<article>

  <mat-card *ngFor="let article of articles">

    <mat-card-header>
      <mat-card-subtitle class="date-article">
        <span>
          {{article.date}}
        </span>
          <img
            [src]="article.currentIcon"
            (mouseover)="toggleIcon(article, true)"
            (mouseout)="toggleIcon(article, false)"
            (click)="toggleActive(article)"
            alt="Icon"
          />
      </mat-card-subtitle>
      <mat-card-title class="article-title">{{article.title}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <span class="article-content">
        {{article.resume}}
      </span>
    </mat-card-content>

  </mat-card>

</article>
