<article>

  <mat-card *ngFor="let article of articles">

    <mat-card-header>
      <mat-card-subtitle class="date-article">
        {{article.date}}
          <img
            [src]="currentIcon"
            (mouseover)="toggleIcon(true)"
            (mouseout)="toggleIcon(false)"
            (click)="toggleActive()"
            alt="Icon"
          />
      </mat-card-subtitle>
      <mat-card-title class="article-title">{{article.title}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <span class="article-content">
        {{article.resume}}
      </span>
    </mat-card-content>

  </mat-card>

</article>
